/*Contains colors and classes used throughout the webdashboard*/

/*Colors used through the dashboard*/
:root {
    --background: #20201E;
    --foreground: #7888e5;
    --navbar: #7888e5;
    --grey: darkgrey;
    --white: whitesmoke;
    --red: #b3002d;
    --green: #00d93a;

    /*Graph colors*/
    --blue: #3333ff;
    --purple: mediumpurple;
    --pink: deeppink;
    --orange: orange;
    --yellow: yellow;

    /*Graph tick and grid color*/
    --graph: orangered;
}

/*Configures the default page body for each page*/
body, html {
    position: fixed !important;
    background: var(--background);
    font-family: 'SansSerif', arial;
    margin: 0;
    width: 100%;
    height: 100%;
}

/*Use to make an element unselectable/highlightable*/
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}